        *{
        list-style: none; }


       *{
        text-decoration: none;}


        :root{ --accent-color:#404bbf }



                    /* body */



         body {
         font-family: 'Roboto', sans-serif;
         color: #434455;
         background-color: #fff;}



         .p,
         h1,
         h2,
         h3{
         margin:0 ;
         }



        .ul,
        li{margin:0 ;
        padding: 0;} 



        .conteiner{
        width: 1158px; ;
        padding: left 15px; ;
        padding: right 15px; ;
        margin:0 auto ;
        outline: 2px solid red}
    
                
                     /*  header*/

        .header {
        
         border-bottom: 1px solid #E7E9FC;
       
        }
    
        .header-conteiner{
        display: flex;
        align-items: center;
        padding: 0 15px 0 15px;
        }

        .header-navigation-link{
        display: flex;
        gap: 40px;
        align-items: center;
        }

        .menu-list{
        display: flex;
        gap: 40px;
        padding: 24px 0 24px 0;
        }

        .header-menu-link:hover,
        .header-menu-link:focus{
        color: #404bbf;
        }
      

        .header-menu-link{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2E2F42;
        list-style: none;
        }
   
                 

       .header-logo-web {
         font-family: 'Raleway', sans-serif;
         font-style: normal;
         font-weight: 800;
         font-size: 18px;
         line-height: 1.17;
         display: flex;
         align-items: center;
         letter-spacing: 0.03em;
         text-transform: uppercase;
         color: #4D5AE5;
         margin-right: 40px;
         margin: 24px;
         margin-bottom: 24px;
         margin-right: 76px;
        
     }

        .logo-studio {
         font-family: 'Raleway', sans-serif;
         font-style: normal;
         font-weight: 800;
         font-size: 18px;
         line-height: 1.17;
         display: flex;
         align-items: center;
         letter-spacing: 0.03em;
         text-transform: uppercase;
         color: #2E2F42;
         text-decoration: none;
      
        }

                  /* address */

                  
        .header-address{
            margin-left: auto;
        }
        .address-list{
        display: flex;
        gap: 40px;
        }

        .address-contacts-link :hover, 
        .address-contacts-link:focus{
        color: #434455;;
        }

        .address-contacts-link{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2E2F42;
        }

    
                    /* hero */
     
       .hero{
        background: #2E2F42;
        padding: 188px 0 188px 0;
        }


        .maim-hero {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        text-align: center;
        letter-spacing: 0.02em;
        color: #FFFFFF;
        margin-bottom: 48px;
        }
        .main-hero{
         max-width: 496px;
        }
       

        .hero-main-btn:hover,
        .hero-main-btn:focus {
        background-color: #404bbf;
        }
    
        .hero-main-btn{
         font-family: 'Roboto',sans-serif;
         font-style: normal;
         font-weight: 500;
         font-size: 16px;
         line-height: 1.5;
         align-items: center;
         letter-spacing: 0.04em;
         color:#FFFFFF;
         margin: 48;
        }

        .hero-main-btn{
        display: block;
        min-height: 169px;
        height: 56px;
        border: none;
        background-color: #4d5ae5;
        border-radius: 4px;
        cursor: pointer;
        margin-bottom: 48px;
        padding: 16px, 32px, 16px, 32px;

          }

     /* section 2 */


        .about{
        margin: 120px;
        padding:120px 0 120px 0}
        
        .about-work-item{
        width: calc(100%-72px)/4;
        }

        .features-list{
        display: flex;
        gap: 24;}


        .about-work-list {
         font-family: 'Roboto';
         font-style: normal;
         font-weight: 500;
         font-size: 20px;
         line-height: 1.2;
         letter-spacing: 0.02em;
         color: #2E2F42;
         
     }

        .about-work-list{
         margin-bottom: 8px;}


       .features-work{
         font-family: 'Roboto';
         font-style: normal;
         font-weight: 400;
         font-size: 16px;
         line-height: 1.5;
         letter-spacing: 0.02em;
         color: #434455;
         margin: 24px;
     
     }

           /* section 3 */
 
        .gallery{
        padding-bottom: 120px;

            }
         
        .concept-features{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: #2E2F42;
       }

        .concept-features{
        margin-bottom: 72px;
        }


        .gallery-img{
         margin-right: 24px;
         display: block;
        }


     
        .features-list {
        list-style: none;
        gap: 24px;

    }



        .gallery-item {
         box-sizing: border-box;
         width: calc(100%-3*16px)/3;
         height: 300px;
         background: url(2368.jpg);
         border: 1px solid #E7E9FC; 
         margin-right: 24px 24px 24px 0;
     }


                             /* section 4 */

         .conteiner-work-team{
           
         }


        .workers-gallery-list{
        display: flex;
        gap: 24px;
    }


        .workers-team {
        background-color: #F4F4FD; }


        .workers-gallery-list{
        background-color: #FFFFFF;
        list-style: none;}


        .team-list{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: #2E2F42;
        margin: 240px;}
         


        .workers-gallery-item {
        background: #F4F4FD;
        margin-right: 24px 24px 24px 0;
    }


        .workers-gsllery-imq{
        margin: 72px;
        display: block;
       }



        .workers-name {
         font-family: 'Roboto';
         font-style: normal;
         font-weight: 500;
         font-size: 20px;
         line-height: 1.2;
         text-align: center;
         letter-spacing: 0.02em;
         color: var(--primari-text-color);
         margin: 32px; }



         .work-function {
         font-family: 'Roboto';
         font-style: normal;
         font-weight: 400;
         font-size: 16px;
         line-height: 1.5;
         text-align: center;
         letter-spacing: 0.02em;
         color: var(--primari-text-color);
         margin: 8px; }


                   /* Footer */

         .footer-general {
         background: #2E2F42;
         text-decoration: none;
         margin: 100px;
         padding: 100px 0 100px 0;
        }

        .footer-logo-web{
        display: inline-block;
        margin-bottom: 16px;
        }

         .footer-logo-web {
         font-family: 'Raleway', sans-serif;
         font-style: normal;
         font-weight: 800;
         font-size: 18px;
         line-height: 1.17;
         display: flex;
         align-items: center;
         letter-spacing: 0.03em;
         text-transform: uppercase;
         color: #4D5AE5; }




        .footer-logo-studio {
        font-family: 'Raleway', sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;        
        text-transform: uppercase;
        color: #F4F4FD; }   



        .footer-general-content {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #F4F4FD;
        text-decoration: none;
        margin: 16px; }
         
        .footer-general-content{
            max-width: 264px;
        }